


<!-- Rows -->
	<div class="rowOne">

	<p id ="homeHeading">The Hotel Experience was developed to improve customer experience within any given hotel that implements and uses the app. It allows the user, or rather ‘guest’, to do many of the actions that would usually be done by speaking with the front desk or concierge, all through one simple interface online. Log your stays, submit a maintenance request, place a virtual "do not disturb", and chat online with the front desk are just some of the included features. The Hotel Experience was created using a Ruby on Rails framework, PostgreSQl database, Sass styling, and jQuery, with additional functionality by Semantic.ui, Bootstrap, Paperclip, Image Magick, This, Faye, Private_pub, and Moment.js to name a few. </p>
	<p id="homeHeadingShort"> The Hotel Experience was developed to improve customer experience within any given hotel that implements and uses the app. It allows the user, or rather ‘guest’, to do many of the actions that would usually be done by speaking with the front desk or concierge, all through one simple interface online. Log your stays, submit a maintenance request, place a virtual "do not disturb", and chat online with the front desk are just some of the included features. </p>

	</div>
	<div class= "rowTwo">
		<div class= "squareOne">
		</div>
		<div class= "squareTwo">
		</div>
		<div class= "squareThree">			
		</div>
	</div>

	<div class= "rowThreePhone">
		<div class= "rowThreeRectangleOne">
		</div>
		<div class= "rowThreeRectangleTwo">
		</div>
	</div>

	<div class= "rowFourPhone">
		<div class= "rowFourSquareOne">
		</div>
		<div class= "rowFourSquareTwo">
		</div>
		<div class= "rowFourSquareThree">			
		</div>
	</div>



	<div class = "rowThree">
		<div class="rectangleOne">
		</div>

		<div class ="rectangleTwo">
		</div>
	</div>
	<div class = "rowFour">
		<div class = "rowFourOne">
		</div>
		<div class = "rowFourTwo">
		</div>
		<div class = "rowFourThree">
		</div>
	</div>
	<div class="rowFive">
	</div>











