


<!-- Rows -->
	<div class="rowOne">

	<p id ="homeHeading">The Hotel Experience was developed to improve customer experience within any given hotel that implements and uses the app. It allows the user, or rather ‘guest’, to do many of the actions that would usually be done by speaking with the front desk or concierge, all through one simple interface online. Log your stays, submit a maintenance request, place a virtual "do not disturb", and chat online with the front desk are just some of the included features. The Hotel Experience was created using a Ruby on Rails framework, PostgreSQl database, Sass styling, and jQuery, with additional functionality by Semantic.ui, Bootstrap, Paperclip, Image Magick, This, Faye, Private_pub, and Moment.js to name a few. </p>
	<p id="homeHeadingShort"> The Hotel Experience was developed to improve customer experience within any given hotel that implements and uses the app. It allows the user, or rather ‘guest’, to do many of the actions that would usually be done by speaking with the front desk or concierge, all through one simple interface online. Log your stays, submit a maintenance request, place a virtual "do not disturb", and chat online with the front desk are just some of the included features. </p>

	</div>
	<div class= "rowTwo">
		<div class= "squareOne">
		</div>
		<div class= "squareTwo">
		</div>
		<div class= "squareThree">	
			<p class="tileInfo">Start by adding a current or furture stay. Select your stay and click the tiles to access features. </p>
			<%= link_to "New Stay", new_user_stay_path(session[:user_id]), class: "tileLink" %>	
		</div>
	</div>

	<div class= "rowThreePhone">
		<div class= "rowThreeRectangleOne">
		</div>
		<div class= "rowThreeRectangleTwo">
		</div>
	</div>

	<div class= "rowFourPhone">
		<div class= "rowFourSquareOne">
		</div>
		<div class= "rowFourSquareTwo">
		</div>
		<div class= "rowFourSquareThree">			
		</div>
	</div>



	<div class = "rowThree">
		<div class="rectangleOne">
			<p class= "tileInfo"> You are out and about enjoying the day after getting a way to early start. You come back for a relaxing nap to find housekeeping is still cleaning your room. Yes they are just doing their job and you are glad to have them do it but…maybe not right now right? Now you can select a time slot when you will be out of the room for them to make up your room in peace. </p>
		</div>

		<div class ="rectangleTwo">
		</div>
	</div>
	<div class = "rowFour">
		<div class = "rowFourOne">
		</div>
		<div class = "rowFourTwo">
			<p class= "tileInfo">Lightbulb out? Remote not working? Let the maintenance department know directly by submitting a description of your problem, your hotel room number, and even uplaod a picture of the issue at hand.</p>
		</div>
		<div class = "rowFourThree">
		</div>
	</div>
	<div class="rowFive">
	</div>











