
<div class="mainBody">


<div id= "profileInfo">
	<div id= "profileImage">
		<%= image_tag "http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-6.jpg" %>
	</div>
	<div id="basicProfileInfo">
		<h1>
		<%= @user.first_name %>
		<span><%= @user.last_name %></span>
		</h1>
		<h3><%= @user.email %></h3>
	</div>
	<div class="ui divider"></div>
	
	<div id="lastestStays">
		<h1> View Your Latest Stays!</h1>
	</div>

</div>





</div>









