
<div class="mainBody">

<!-- Rows -->
	<div class="rowOne">
	</div>
	<div class= "rowTwo">
		<div class= "squareOne">
			<div>
			<p>Do Not Disturb</p>
			</div>
		</div>
		<div class= "squareTwo">
			<div>
			<p>Housekeeping</p>
			</div>
		</div>
		<div class= "squareThree">
			<div>
			<p>Scheduling your room cleaning for when you plan to be away from your room. Don't want to be disturbed? Make sure you wont be by placing a DND hold on your room! Have excellent service? Tip our service members right from your computer.</p>
			</div>
		</div>
	</div>
	<div class = "rowThree">
		<div class="rectangleOne">
			<div>
				<p>Room service at the tip of your fingers. Charge to your room or credit card. Order food for scheduled delivery and even track your order.</p>
			</div>
		</div>

		<div class ="rectangleTwo">
			<p>Room Service</p>
		</div>
	</div>
	<div class = "rowFour">
		<div class = "rowFourOne">
		</div>
		<div class = "rowFourTwo">
			<div>
				<h3>Make Reservations</h3>
				<ul>
					<li>Dining Reservations</li>
					<li>Spa Appointments</li>
					<li>Activities</li>
				</ul>
			</div>
		</div>
		<div class = "rowFourThree">
		</div>
	</div>
	<div class="rowFive">
	</div>
</div>









