<div id ="formBox">

<div class="ui segment">
	  <h2 class="ui right floated header">Schedule Turndown Service</h2>
	  <div class="ui clearing divider"></div>
	<div>

	<div id="workOrderForm" class="ui form">



	<%= form_for @dayservice, url: dayservice_path(@dayservice) do |f| %>
		


	<div class="twoBlock">
		<h4 class= "labels">Date For Turndown Service</h4>
   		<div class="form-group" >
   			
			<%= f.text_field(:appointment_date, id: "datepicker", placeholder: :appointment_date)%>
		</div>
		<h4 class= "labels">Turndown Service Time</h4>
		<div class="form-group" >
			<%= f.select(:appointment_time, options_for_select([["Select A New Time", ""], "5:00pm", "5:30pm", "6:00pm", "6:30pm", "7:00pm", "7:30pm", "8:00pm", "8:30pm", "9:00pm"]), {:class => 'ui dropdown'}) %>
		</div>
	</div>
	


	<div>
	  <%= f.submit "Reschedule Housekeeping", class: "btn btn-primary",id: "submitStay" %>
	</div>
	
<% end %>
	
	</div>
	</div>
	</div>
</div>