
// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 320px){
	#sideMenu{
		display: none !important;
	}
	#homeHeading{
		display: none !important;
	}
	#bottomMenu{
		background-image: url("Mountain");
		height: 30px;
		width: 100%;
		background-position: 100% 67%;
		a{
			font-size: 11px;
			color: black;
			font-weight: bold;
		}
	}
	.pictureBackground{
		background-image: url("Mountain");
		background-repeat:no-repeat;
		background-size: cover;
		float: center;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		.ui.grid{
			margin-top: -6rem;
		}
		#pageContent{
			opacity: 50%;
			#linkTo{
				width:87%;
				margin: 0 auto;
			}
			#boxSignup{
				width: 87%
				;
				float: center;
				margin: 0 auto;
				margin-bottom: 10px;
			}
			.field{
				font-size: 15px;
			}
			p a {
				font-size: 12px;
			}
			a {
				color:#D9A134;
				font-size: 19px;
			}
			.alignCenter{
				text-align: center;
			}
			#loginButton{
				background-image: linear-gradient(to bottom right, #D9A134, #f2edb6);
				color: white;
				font-size: 20px;
			}	
			#signupHead{
				margin-top: 25%;
				color: #D9A134;
				font-size: 22px;
				padding-left: 20px;
				padding-top: 6px;
				padding-bottom: 7px;
				padding-right:20px;
			}
			#loginSignupHead{
				margin-top: 50%;
				color: #D9A134;
				font-size: 22px;
				padding-left: 20px;
				padding-top: 6px;
				padding-bottom: 7px;
				padding-right:20px;
			}
			.content{
				background-color: white;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-right: 10px; 
				padding-left:10px; 
				border-radius: 3px;
				font-family: 'Open Sans', sans-serif;
				.description{
					font-size: 20px;
				}
			}
		}	
	}


/*Layout Page */
	#topMenu{
		width: 100%;
		text-align: left;
		font-size: 9px;
		padding-top: 1%;
		padding-bottom: 1%;
   		 #search{
   			font-size: 7px;
   		}
   		a{
   			color: black;
   		}
	}	
	#dividerTop{
		width:100%;
	}
/*Layout Page End*/

/*User Index	*/	
	.mainBody{
		width:100%;
		padding-right: 2%;
		padding-top: 3%;
		padding-bottom: 3%;
		padding-left: 2%;
		display: inline-block;
		.rowOne{
			border: 1px solid #E5E5E5;
			width: 100%;
			margin-top: 1%;
			margin-bottom: 2%;
			background-color: #E5E5E5;
			border-radius: 3px;
			p::first-letter { 
				float: left; 
				color: #B8860B; 
				font-size: 95px; 
				line-height: 80px; 
				padding-top: 4px; 
				padding-right: 8px; 
				padding-left: 3px; 
		 	}
			p{
				margin: 15px;
				font-size: 15px;
				padding-top: 1%;
				font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
			}
		}
		.rowTwo{
			width: 100%;
			height: 100px;
			display:inline-block;
			margin-bottom: 2%;
			border-radius: 3px;
			div{
				border-radius: 4px;
				border: 1px solid #E5E5E5;
			}
			.squareOne{
				display: inline-block;
				background-color: #D9E2F6;
				width: 31%;
				height:100%;
				margin-right: 2%;
				background-image: url("DND.jpg");
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
				p{
					font-size: 20px;
					padding-right: 5px;
					margin-top: 220px;
					text-align: right;
					color: #5464C0;
					opacity: .8;
		
				}
			}
			.squareTwo{
				display: inline-block;
				background-color: #E5E5E5;
				width:31%;
				height:100%;
				margin-right: 2%;
				background-image: url("Housekeeper.jpg");
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
			}
			.squareThree{
				display: inline-block;
				background-color: #D9E2F6;
				width: 31%;
				height:100%;
				vertical-align:top;
				p{
					padding: 5px;
				}
			}
		}

		.rowThree{
			display: none !important;
		}

		.rowFour{
			display: none !important;
		}

		.rowThreePhone{

			width: 100%;
			height: 100px;
			display:inline-block;
			margin-bottom: 2%;
			border-radius: 3px;
			div{
				border-radius: 4px;
				border: 1px solid #E5E5E5;
			}
			.rowThreeRectangleOne{
				display: inline-block;
				background-color: #D9E2F6;
				width: 48%;
				height:100%;
				margin-right: 2%;
				background-image: url("RoomServiceBlur.jpg");
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
			}
			.rowThreeRectangleTwo{
				display: inline-block;
				background-color: #E5E5E5;
				width:48%;
				height:100%;
				background-image: url("Spa2");
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
			}
		}
		.rowFourPhone{
			width: 100%;
			height: 100px;
			display:inline-block;
			margin-bottom: 2%;
			border-radius: 3px;
			div{
				border-radius: 4px;
				border: 1px solid #E5E5E5;
			}
			.rowFourSquareOne{
				display: inline-block;
				background-color: #D9E2F6;
				width: 31%;
				height:100%;
				margin-right: 2%;
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
				p{
					font-size: 20px;
					padding-right: 5px;
					margin-top: 220px;
					text-align: right;
					color: #5464C0;
					opacity: .8;
		
				}
			}
			.rowFourSquareTwo{
				display: inline-block;
				background-color: #E5E5E5;
				background-image: url("RoomTwo");
				width:31%;
				height:100%;
				margin-right: 2%;
				background-repeat:no-repeat;
				background-size: cover;
				vertical-align:top;
			}
			.rowFourSquareThree{
				display: inline-block;
				background-color: #E5E5E5;
				background-image: url("Fixing");
				background-size: cover;
				background-repeat:no-repeat;
				width: 31%;
				height:100%;
				vertical-align:top;
				p{
					padding: 5px;
				}
			}
		}

		.rowFive{
			width: 100%; 
			height:125px;
			margin-top: 0px;
			margin-bottom: 2%;
			background-color: #E5E5E5;
			background-image: url("desk");
			background-repeat:no-repeat;
			background-size: cover;
			border-radius: 3px;
		}
	}
/*User Index	*/	

/*User Show */
	#profileInfo{
		width: 100%;
		height: 560px;
		border: 2px solid #E5E5E5;
		margin-top: 10px;
		border-radius: 5px;
		text-align: top;
		#basicProfileInfo{
			display: inline-block;
			text-align: right;
			float: right;
			margin-right: 7px;
			margin-top: 7px;
			#firstLastName{
				font-size: 20px;
			}
			#email{
				font-size: 15px;
			}
		}

		#profileImage{
			display: inline-block;
			img{
				width: 120px;
				border-radius: 5px;
				display: inline-block;
				position: relative;
			}
			#profileButton{
				position: absolute;
				top: 0px;
				left:0px;
				width: 25px;
				height: 25px;
			}	
		}
	}
/*User Show End*/


/*Stays Index*/
	#infoLabel{
		height: 100px;
		padding-top: 5px;
		width: 100%;
		background-color: black;
		color: white;
		font-size: 15px;
		margin-bottom: 5px;
		font-family: 'Open Sans', sans-serif;
		border-radius: 5px;
		border: 2px solid #D9A134;
		p{
			font-size: 15px;
		}
		#infoText{
			display: block;
			text-align: center;

		}
		#newStayButton{
			background-color: #D9A134;
			border-radius: 5px;
			width: 110px;
			display: block;
			margin: auto;
			text-align: center;
			a{
				color: black;
				font-family: 'Open Sans', sans-serif;
			}
		}
		#infoLabelComp{
		height: 100px;
		padding-top: 5px;
		width: 100%;
		background-color: black;
		color: white;
		font-size: 15px;
		margin-bottom: 5px;
		font-family: 'Open Sans', sans-serif;
		border-radius: 5px;
		border: 2px solid #D9A134;
		#infoText{
			display: block;
			text-align: center;

		}
		#newStayButton{
			background-color: #D9A134;
			border-radius: 5px;
			width: 110px;
			display: block;
			margin: auto;
			text-align: center;
			p{
			font-size: 15px;
			}	
			a{
				color: black;
				font-family: 'Open Sans', sans-serif;
			}
		}
	}
	}
	#allStays{
		width: 100%;
		position: relative;
		.ui.segment{
			border-color: #D9A134;
			.ui.divider{
				border-color: #D9A134;
			}
		}
		#staysShowCurrent{
			width: 100%;
			display: inline-block;
			vertical-align: top;
			border: 2px solid #D9A134;
			border-radius: 5px;
			margin: 1.5%;
			position: relative;
			height: 220px;
			#hotelStayName{
				margin-top: 2px;
				font-size: 12px
			}
			#checkInOutStay{
				font-size: 12px;
			}
			#titleStay a{
					font-size: 18px;
					color: black;
			}
		}
		.staysShow{
			width: 46%;
			display: inline-block;
			vertical-align: top;
			border: 2px solid #D9A134;
			border-radius: 5px;
			margin: 1.5%;
			position: relative;
			height: 220px;
			#hotelStayPic{
				border-radius: 5px;
				margin-top: 10px;
			}
			#hotelStayName{
				font-size: 10px
			}
			#checkInOutStay{
				font-size: 10px;
			}
			#titleStay{
				text-align: center;
				display: inline-block;
				background-color: #D9E2F6;
				width: 100%;
				min-height: 75px;
				a{
					font-size: 14px;
					color: black;
				}
			}
		}
		.featureSelection{
			position: absolute;
			bottom: 2px;
			.featureItem{
				margin: 2px;
				display: inline-block;
				background-color: #D9E2F6;
				border-radius: 2px;
			}
		}
	}
/*Stays Index End*/

/*Stays New Edit Show*/
	#formBox{
		width: 100%;
		border: 2px solid #D9A134;
		margin-top: 10px;
		border-radius: 5px;
		text-align: top;
		.ui.divider{
			border: 1px solid #D9A134;
		}
		/*Stay New Edit*/
		#stayForm{
			display: inline-block;
			margin: 1%;
			width: 100%;
			#title{
				width: 100%;
			}

			.twoBlock{
				display: inline-block;
				margin-top: 7px;
				margin-bottom: 7px;
				width: 100%;
			}
		}
		#submitStay{
				margin-right: 2%;
				margin-top: 7px;
				width: 240px;
				input{
					font-size: 15px;
					width: 100%;
					height: 50px;
					border: 0px solid black;
					border-radius: 5px;
					background-color: #D9A134;
		}
			#calendar{
				height: 30px;
			}	
		}
		/*Stay Show*/
		#stayShowInfo{
			div{
				display: inline-block;
			}
			display: inline-block;
			width: 100%;
			img{
				width: 150px;
				border-radius: 5px;
				text-align: center;
			}
			#stayShowHotelName{
				font-size: 22px;
				text-align: center;
			}
			h2{
				font-size: 30px;
				text-align: center;
			}
			#stayShowHotelDescription{
				margin-bottom: 5px;
			}
		}
		#stayShowFeatures{
			display: inline-block;
			input:hover{
				color: white;
			}
			a{
				color: black;
				:hover{
					color: white;
				}
			}
			i{
				color: black;
				:hover{
					color: white;
				}
			}
			width: 32%;
			text-align: center;
			vertical-align:top;
			float: right;
			padding-bottom: 5px;
			font-size: 15px;
			#dndButton{
				display: inline-block;
				width: 73px;
				height: 73px;
				border-radius: 5px;
				background-color: #D9A134;
				margin: 2px;
				float: right;
				border: 0px solid black;
				#dnd{
					width: 73px;
					height: 50px;
					background-color: #D9A134;
					border: 0px solid white;
					:hover{
						color: white;
					}
				}
			}
			.featureItem{
				display: inline-block;
				width: 73px;
				height: 73px;
				border-radius: 5px;
				background-color: #D9A134;
				margin: 2px;
				float: right;
			}
			.editDeleteLink{
				display: inline-block;
				float: right;
				background-color: #D9A134;
				border-radius: 5px;
				height: 73px;
				width: 73px;
				margin: 2px;
			}
		}
		#submitStay{
			background-color: #D9A134;
			input{
				border-color: 0px solid white;
				color: black;
			}
		}
	}
/*Stays New Edit Show End*/	
	
/*WorkOrders New*/
	#workOrderForm{
		margin: 1%;
		#work_order_image{
			font-size: 15px;
			text-align: center;
		}
		#submitStay{
			font-size: 15px;
			margin-top: 10px;
		}
	}

	#tableSize{
		border: 2px solid #D9A134;
	}

	#chat{
		width: 500px;
		height: 500px;
	}
	#chatDiv{
		width: 78%;
		height:500px;
		overflow-y: scroll;
		border-radius: 5px;
		border: 2px solid #D9A134;
	}


	#tableSize{
		width: 100%;
	}
	#submitUserEdit{
				display: inline-block;
				margin-right: 2%;
				margin-top: 2.5%;
				border-radius: 5px;
				input{
					font-size: 1em;
					width: 100%;
					min-height: 1em;
					padding: 0.78571429em 1.5em 0.78571429em;
					border: 0px solid black;
					border-radius: 5px;
					color: white;
					background-color: green;
		}
	}
	#titleModal{
		font-size: 25px;
	}
	.description p{
		font-size: 20px;
	}
	.ui.modal img{
		width: 200px;
	}




}













