// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
	background-image: url("PlainLogo");
	background-size: cover;
	height: 100px;
}
#menu{
	background-image: url("Mountain.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	height:100%;
}

#topMenu{
	width: 79%;
    margin-top: 44px;
    font-size: 19px;
     #search{
    	font-size: 13px;
    }
    a{
    	color: black;
    }
}

.mainBody{
	margin-left: 250px;
	width:100%;
}
#dividerTop{
	width:79%;
}

.rowOne{
	width: 79%;
	height:275px;
	margin-top: 40px;
	margin-bottom: 2%;
	background-color: #E5E5E5;
	border-radius: 3px;
}
.rowTwo{
	width: 79%;
	height: 250px;
	display:inline-block;
	margin-bottom: 2%;
	border-radius: 3px;
	div{
		border-radius: 3px;
	}
	.squareOne{
		display: inline-block;
		background-color: #D9E2F6;
		width: 31%;
		height:100%;
		margin-right: 3%;
		background-image: url("DND.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		vertical-align:top;
		p{
			font-size: 20px;
			padding-right: 5px;
			margin-top: 220px;
			text-align: right;
			color: #5464C0;
			opacity: .8;

		}
	}
	.squareTwo{
		display: inline-block;
		background-color: #E5E5E5;
		width:31%;
		height:100%;
		margin-right: 3%;
		background-image: url("Housekeeper.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		vertical-align:top;
	}
	.squareThree{
		display: inline-block;
		background-image: url("DivPic");
		background-color: #E5E5E5;
		width: 31%;
		height:100%;
		vertical-align:top;
		p{
			padding: 5px;
		}
	}
}

.rowThree{
	width: 79%;
	height: 250px;
	display:inline-block;
	border-radius: 3px;
	margin-bottom: 2%;
	div{
		border-radius: 3px;
	}
	.rectangleOne{
		display: inline-block;
		width: 40%;
		margin-right: 3%;
		background-color: #E5E5E5;
		height: 100%;
		vertical-align:top;
		p{
			padding: 5px;
		}
	}

	.rectangleTwo{
		display: inline-block;
		width: 56%;
		background-color: #D9E2F6;
		height: 100%;
		background-image: url("RoomServiceBlur.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		height:100%;
		vertical-align:top;
		p{
			font-size: 30px;
			padding-left: 4px;
			color: #5464C0;
			opacity: .6;
			font-weight: bold;

		}
	}
}


.rowFour{
	width: 79%;
	height: 250px;
	display:inline-block;
	border-radius: 3px;
	margin-bottom: 2%;
	div{
		border-radius: 3px;
	} 
	.rowFourOne{
		display: inline-block;
		width: 49%;
		margin-right: 3%;
		background-color: #E5E5E5;
		background-image: url("Spa2");
		background-repeat:no-repeat;
		background-size: cover;
		height: 100%;
		vertical-align:top;
	}
	.rowFourTwo{
		display: inline-block;
		text-align: bottom;
		width: 22%;
		margin-right: 3%;
		background-color: #E5E5E5;
		height: 100%;
		vertical-align:top;
		h3{
			padding: 5px;
		}
	}
	.rowFourThree{
		display: inline-block;
		width: 22%;
		background-color: #E5E5E5;
		background-image: url("Restraurant");
		background-repeat:no-repeat;
		background-size: cover;
		height: 100%;
		vertical-align:top;
	}
}
.rowFive{
	width: 79%; 
	height:455px;
	margin-top: 40px;
	margin-bottom: 2%;
	background-color: #E5E5E5;
	background-image: url("desk");
	background-repeat:no-repeat;
	background-size: cover;
	border-radius: 3px;
}

#profileInfo{
	width: 79%;
	height: 560px;
	border: 2px solid #E5E5E5;
	margin-top: 10px;
	border-radius: 5px;
	text-align: top;
	#basicProfileInfo{
		display: inline-block;
		text-align: right;
		float: right;
		margin-right: 20px;

	}
	img{
		width: 250px;
		border-radius: 5px;
	}
	#profileImage{
		display: inline-block;

	}
}

