// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*#profileInfo{
	width: 79%;
	height: 560px;
	border: 2px solid #E5E5E5;
	margin-top: 10px;
	border-radius: 5px;
	text-align: top;
	#basicProfileInfo{
		display: inline-block;
		text-align: right;
		float: right;
		margin-right: 20px;

	}
	img{
		width: 250px;
		border-radius: 5px;
	}
	#profileImage{
		display: inline-block;

	}
}*/

